.banner {
    width: 624px;
    height: 254px;
    padding-top: 32px;
    padding-bottom: 32px;
    border-radius: 20px;
    border-width: 1.5px;
    background: #090337;
    
    /* background-size: cover;  */
    background-position: right;
    background-repeat: no-repeat;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-right: 36px;
    padding-left: 36px;
    width: 404px;
}

.head {
    width: 337;
    font-family: var(--font-outfit);
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 0%;
    color: #FFFFFF;
}

.subHead {
    font-family: var(--font-poppins);
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
    line-height: 117%;
    letter-spacing: 0px;
    color: #FFFFFFB2;

}

.description {
    color: #FFFFFFCC;

    font-family: var(--font-outfit);
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
}

@media (max-width: 1300px) {
    .banner {
        width: 455px;
        justify-content: center;
    }

    .main {
        width: 277px;
    }
}

@media (max-width: 1132px) {
    .banner {
        width: 100%;
    }
    .main {
        width: 70%;
    }
}

@media (max-width: 743px) {
    .banner {
        height: 476px;
        width: 252px;
        background-position: top;
    }
}