.banner {
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 32px 36px;
  width: 380px;
  box-sizing: border-box;
  z-index: 2;
  position: relative;
}

.image {
  width: 254px;
  height: 254px;
  object-fit: cover;
  border-radius: 20px;
  z-index: 1;
}

.head {
  width: 337px;
  font-family: var(--font-outfit);
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
  color: #FFFFFF;
}

.description {
  font-family: var(--font-outfit);
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #FFFFFFCC;
}

@media (max-width: 1300px) and (min-width: 744px) {
  .banner {
    width: 100%;
    position: relative;
  }

  .image {
    position: absolute;
    right: 0;
    top: 0;
    width: 254px;
    height: 254px;
  }

  .main {
    width: 75%;
    height: 100%;
    padding: 32px;
    background: none;
  }
}

@media (max-width: 1132px) {
  .image {
    height: 194px;
    width: 194px;
  }

  .main {
    padding: 24px;
  }
}

@media (max-width: 743px) {
  .banner {
    flex-direction: column-reverse;
    align-items: center;
    width: 256px;
    height: 576px;
  }

  .image {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
  }

  .main {
    width: 100%;
    height: calc(100% - 220px);
    padding: 24px;
    text-align: center;
    justify-content: flex-start;
    overflow: hidden;
  }

  .head {
    width: auto;
  }
}
