.body {
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding-top: 80px;
    padding-right: 60px;
    padding-bottom: 60px;
    padding-left: 60px;
    border-radius: 56px;
    align-items: center;
}

.header_texts {
    display: flex;
    flex-direction: column;
    max-width: 680px;
    text-align: center;
    height: 111;
    gap: 20px;
}

.head {
    font-family: var(--font-syne);
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #381664;
}

.subHead {
    font-family: var(--font-mulish);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    color: #00000099;
}

.banners {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
    width: 1094;
}

@media (max-width: 1100px) {
    .banners {
        grid-template-columns: 1fr; 
    }
}