.body {
  display: flex;
  flex-direction: column;
  gap: 64px;
  border-radius: 56px;
  align-items: center;
}

.header_texts {
  display: flex;
  flex-direction: column;
  max-width: 680px;
  text-align: center;
  gap: 20px;
}

.head {
  font-family: var(--font-syne);
  font-weight: 700;
  font-size: 36px;
  color: #381664;
}

.subHead {
  font-family: var(--font-mulish);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #00000099;
}

.banners {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}

.slider {
  display: none;
}

@media (max-width: 1132px) {
  .banners {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
}

@media (max-width: 743px) {
  .banners {
    display: none;
  }

  .body {
    gap: 130px;
  }

  .slider {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
  }

  .slide {
    width: auto !important;
  }
}