.intro {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    max-width: 1280px;
    margin: 0 auto;
    padding: 32px 96px;
    gap: 120px;

    min-height: 644px; 
    background: radial-gradient(50% 50% at 50% 50%, rgba(71, 0, 236, 0.1) 0%, rgba(236, 246, 254, 0.2) 100%);
    backdrop-filter: blur(12px);
    overflow: hidden;
}
.image {
    z-index: 1;
}

.background {
    position: absolute;
    top: 165px;
    right: 220px;
    width: 1290px;
    height: 340px;

    background: radial-gradient(70% 70% at top right, rgba(71, 0, 236, 0.1), rgba(236, 246, 254, 0.2));
    
    z-index: 0;
    pointer-events: none;
    filter: blur(60px);
}

.info_block {
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 1;
    position: relative;
}

.head {
    font-family: var(--font-syne);
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--Text-Accent, #381664);
}

.info {
    font-family: var(--font-mulish);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #00000099;
}

.bttn_info{
    gap: 8px;
}

.bttn {
    width: 206;
    height: 50;
    padding-top: 12px;
    padding-right: 40px;
    padding-bottom: 12px;
    padding-left: 40px;
    border-radius: 57px;
    background: linear-gradient(90deg, #512DA8 0%, #270086 100%);
    border: 0px;

    font-family: var(--font-outfit);
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.46px;
    cursor: pointer;
}

.bttn_description {
    font-family: var(--font-mulish);
    font-weight: 400;
    font-size: 12px;
    line-height: 266%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #00000099;
    padding-top: 10px;
}

.imageMobile {
    display: none;
}

@media (max-width: 1133px) {
    .image {
        width: 410px;
        height: 410px;
    }
}

@media (max-width: 742px) {
    .intro {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 24px;
    }

    .background {
        width: 251.55087280273438;
        height: 309.47369384765625;
        left: 170px;
        top: 50px;
        right: 0;
        bottom: 0;
        background: radial-gradient(50% 50% at 50% 50%, rgba(71, 0, 236, 0.1) 0%, rgba(236, 246, 254, 0.2) 100%);
        backdrop-filter: blur(12px)
}

    .image {
        display: none;
    }

    .imageMobile {
        display: flex;
        width: 100%;
        margin-bottom: 24px;
    }

    .info_block {
        /* background: radial-gradient(50% 50% at 50% 50%, rgba(71, 0, 236, 0.1) 0%, rgba(236, 246, 254, 0.2) 100%); */
    }
}