.comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 640px;
    height: 172px;
    padding: 32px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    will-change: transform, opacity;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.creator {
    font-family: var(--font-poppins);
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    color: #120027;
}

.creatorPosition {
    font-family: var(--font-roboto);
    font-weight: 900;
    font-size: 12px;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    color: #00000061;
}

.commentText {
    font-family: var(--font-poppins);
    font-weight: 400;
    font-style: italic;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0px;
    color: #090337;


    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media (max-width: 830px) {
  .comment {
    width: 90vw; 
    max-width: 100%;
    box-sizing: border-box;
    padding: 24px;
  }
}

