.card {
    display: inline-flex;
    background: #CBB8E01F;
    height: 56px;
    padding: 12px 12px 12px 16px;
    border-radius: 20px;
    border: 1.5px solid #0000001A;
    align-items: center;
    gap: 12px;
    white-space: nowrap;
}